.home__row {
  display: flex;
  justify-content: center;
}

.home__col {
  display: flex;
  flex-direction: column;
}

.home__img {
  align-self: center;
  margin-bottom: 54px;
}

.home__text-block > h2 {
  text-align: center;
}

.home__text-block:not(:last-of-type) {
  margin-bottom: 48px;
}
