body {
  background: #3742fa;
  background-image: url("./assets/inspiration-geometry.png");
  background-repeat: repeat;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}
