.tweet {
  background: #fff;
  color: #2f3640;
  padding: 16px;
}

.tweet__username,
.tweet__date {
  color: #596275;
  font-size: 0.9em;
}

.icon {
  display: "inline-block";
  margin-right: 4px;
  vertical-align: middle;
}
